

/*
---------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------- PAGE LAYOUT -------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
*/

body {
  background: #737373 !important;
  font-family: Arial, sans-serif;
  color: #353535;
}

body * {
  box-sizing: border-box;
}

.print-view-modal {
    display: flex;
    flex-direction: row;
    width: 350px;
    z-index: 2;
    opacity: 0;
    justify-content: left;
    align-items: center;
    color: #585454;
    background: #fff7ed;
    padding: 30px;
    position: fixed;
    top: 10px;
    right: 10px;
    box-shadow: 0 2px 5px 2px rgba(0,0,0, 0.7);
    animation: fade-up 0.4s ease 1s forwards;
    transition: all 0.4s ease;
}

.print-view-modal img {
  width: 64px;
  margin-right: 10px;
}

.print-view-modal .start-print {
    position: relative;
    font-size: 16px;
    top: 0;
    right: 0;
    padding: 0;
    text-decoration: underline;
}

.print-view-header {
  padding-top: 15px;
}

.print-view-header p {
  font-size: 13px;
}

.main-container {
    max-width: 21cm;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    background: #fff;
    box-shadow: 0 0 20px 10px #444;
    box-sizing: border-box;
     z-index: 1;
}

.print-view-modal button {
    background: none;
    color: #757070;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#footer {
    margin-top: 20px;
}

#footer p {
    font-size: 12px;
}


/*
---------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------- TYPOGRAPHY --------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
*/


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
  margin: 0.8rem 0;
}

h4 {
    margin: 0.8rem 0;
}

p {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.4em;
}

.indicator-details {
  color: #585454;
}

.color-normal {
  color: #585454;
}

.bold {
  font-weight: bold;
}

.fancy {
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
      margin: 0;
}

.text-below {
  margin-bottom: 0;
}

.chart-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.with-line {
  border-bottom: solid 1px;
      margin-bottom: 9px;
          padding-bottom: 5px;
}

.indicator-details h2 {
    margin-left: 20px;
}

#indicator-definition ol[start="2"], #indicator-definition ol[start="3"] {
    padding: 0;
}

#indicator-definition p {
  font-size: 16px;
}


/*
---------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------- CHART LAYOUTS -----------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
*/


.chart-full {
  margin: 15px 0;
  font-size: 0.8em;
}


.regional-comparison-page .table-options h4,
.national-table-page .table-options h4{
  margin: 5px 0;
  font-size: 0.9em;
}

.national-results-page + .national-table-page {
      margin-top: 75px;
}

.print-table {
  font-size: 0.75em;
      overflow-y: hidden;
}

.chart-and-legend {
  display: flex;
}

.chart-and-legend .print-table {
  overflow-y: visible;
}

.regional-chart-header {
  display:flex;
  justify-content: space-between;
}

.table-header {
    display: flex;
}

.table-options {
    margin-left: 15%;
}

.half-charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.timeseries {
    width: 47.5%;
    background: #fff7ed;
    margin-left: 2.5%;
    padding: 15px;
}

.timeseries .errorbar:nth-of-type(1) {
    display: none;
}

.gender, .age {
    width: 50%;
    background: #fff;
    margin-top: 5%;
    padding: 15px;
}

.gender {
  /*margin-right: 2.5%;*/
}

.age {
  /*margin-left: 2.5%;*/
}

.ethnicity, .ndep {
    width: 50%;
    background: #fff;
    margin-top: 5%;
        padding: 15px;
}

.ethnicity {
  /*margin-right: 2.5%;*/
}

.ndep {
  /*margin-left: 2.5%;*/
}

.charts-main .chart-title {
  margin-bottom: 0;
}

.charts-main, .tables-main {
    margin-top: 30px;
}

.charts-main .scatterlayer .trace .js-line {
  transform-origin: center;
    transform: scaleX(3.1);
    stroke-width: 3px !important;
}

.national .plotly.html-widget {
    /*transform: translateX(-30px);*/
}

.annotation-wrapper {
        width: 50%;
    position: absolute;
    font-size: 20px;
    z-index: 1;
    height: 90%;
    color: #585454;
    top: 20px;
        right: 20px;
}

.annotation {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.annotation p {
    font-size: 14px;
        margin: 0;
}

.annotation .big {
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
}

.national-wrapper {
  width: 47.5%;
  margin-right: 2.5%; 
  background: #fff7ed;
}

.national {
    background: #fff7ed;
    margin-right: 2.5%;
    padding: 20px;
    display: flex;
   /* flex-direction: row-reverse;*/
    align-items: center;
    position: relative;
}

.national .main-svg {
    background: transparent !important;
}

text.annotation-text[data-unformatted="S"] {
    display: none;
}


.chart-and-legend {
    display: flex;
}

.print-legend {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: -10px;
}

.legend-item {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.legend-color {
    height: 18px;
    width: 36px;
    margin-right: 10px;
}

.legend-color.region-nz {
      border: #f27570 solid 18px;
    border-bottom: none;
    border-top: none;
}

.legend-color.region-selected {
      border: #9ecfcf solid 18px;
    border-bottom: none;
    border-top: none;
}

.legend-color.region-comp-1 {
  border: #edc775 solid 18px;
    border-bottom: none;
    border-top: none;
}

.legend-color.region-comp-2 {
  border: #0ab58f solid 18px;
    border-bottom: none;
    border-top: none;
}



/*
---------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------- TABLE FORMATTING ------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
*/

.regional-comparison-page .cca-table-head tr:nth-of-type(2) th,
.national-table-page .cca-table-head tr:nth-of-type(2) th {
    width: 5% !important;
}

.regional-comparison-page .cca-table-head tr:nth-of-type(1) th:first-of-type,
.national-table-page .cca-table-head tr:nth-of-type(1) th:first-of-type{
    width: 5% !important;
}

.regional-output .dataTables_scrollHead tr:nth-of-type(2) th:nth-of-type(2n),
.regional-output .dataTables_scrollBody tr:nth-of-type(2) th:nth-of-type(2n){
  width: 2% !important;
}

.regional-output .dataTables_scrollBody td:nth-of-type(6) {
    text-align: center;
}

.national-table-page * {
    overflow: hidden;
}

.notes-page ol li {
    color: black;
    font-size: 14px;
    visibility: visible;
}

.notes-page ol {
    color: white;
    visibility: hidden;
}

.notes-page {
    display: flex;
    flex-direction: column;
}

/*  .regional-output .national-results-page.page *{
  overflow: hidden;
}*/



/*
---------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------- FOR PRINT ON PAPER ------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
*/

@media print {
  
  .main-container {
    padding: 1.6cm;
    box-shadow: none;
  }
  
  .page {
    page-break-after: always;
    padding-top: 35px;
    padding-bottom: 35px;
    
  }
  
  .timeseries {
    padding: 0;
}
  
  .annotation-wrapper {
    margin-right: -20px;
  }
  

  .gender, .age, .ethnicity, .ndep {
    margin-top:0;
  }
  
  .chart-title {
    font-size: 16px;
  }
  
  .print-view-modal {
    display: none;
  }
  
  .national-results-page + .national-table-page {
    margin-top: 0;
  }
  
  .national-table-page.page {
    page-break-after: auto;
  }
  
  .national-table-page  *{
    overflow-y: hidden;
  }
  
  .notes-page {
    margin-top: -35px;
  }
  
  .regional-output .national-table-page.page *{
  overflow: hidden;
}

  
  @page { margin: 5px; }
  
  
}

@keyframes fade-up {
  from { opacity: 0; top: 40px; }
  to { opacity: 1; top: 10px; }
}

.cca-link, .cca-link:hover, .cca-link:focus{
  color: #0ab58f;
}

.summary-text {
  width: 70%;
}

.sort-by {
  width: 30%;
}

.summary-container {
  display: flex;
  justify-content: flex-end;
}

.summary-legend {
    padding-top: 20px;
    margin-right: 0;
}

.heatmap-cell-print {
  width: 25px;
    border: 1px solid #757070;
    padding: 10px 0;
    text-align: center;
}

td.indicator-summary-region-head-print > div {
  transform: rotate(-90deg);
  width: 20px;
  padding: 5px 10px;
  font-size: 8px;
  margin-bottom: -10px;
}


.heatmap-container-print {
  height: fit-content;
  margin-top: 50px;
  font-size: 0.6rem;
}

.heatmap-sort-print {
  display: none;
}

.heatmap-measure-print {
  padding-left: 10px;
}

thead.heatmap-head.print td {
  vertical-align: inherit;
}

thead.cca-table-head.print th {
    padding: 10px 0;
}

